<html>
	<body bgcolor='#dcaba1'>
		<h1>Poker Hand</h1>
		<form method='post' action='/greet'>
		 	Suit: <input type="number" name="suit1"  min="1" max="4"><br>
			Rank: <input type="number" name="rank1"  min="1" max="13"><br>
			Suit: <input type="number" name="suit2"  min="1" max="4"><br>
			Rank: <input type="number" name="rank2"  min="1" max="13"><br>
			Suit: <input type="number" name="suit3"  min="1" max="4"><br>
			Rank: <input type="number" name="rank3"  min="1" max="13"><br>
			Suit: <input type="number" name="suit4"  min="1" max="4"><br>
			Rank: <input type="number" name="rank4"  min="1" max="13"><br>
			Suit: <input type="number" name="suit5"  min="1" max="4"><br>
			Rank: <input type="number" name="rank5"  min="1" max="13"><br>
		 	<input type="submit" value="Submit">
		</form>
	</body>
</html>

